@import '../../../../styles.scss';

app-header{
    position: relative;
    
}

.menuContent,
.menuHome
{
    color: white;
    
}

.navWrapper
{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 7;
}

.menuHome
{
    height: 45px;
    // height: 130px;
    background-color: $AzulOscuro;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 40px;
    img{
        height: 50%;
       // height: 35%;
    }
    

    @for $i from 0 through 40 
    {
        $d0 : 50*$i + 360px;
        $d1 : 50*($i + 1) + 360px;
        @media screen and (min-width: $d0) and (max-width: $d1)
        {
            height: 0.054*($d0 - 360px) + 45px;
            padding-left: 0.038*($d0 - 360px) + 45px;
            padding-right: 0.057*($d0 - 360px) + 45px;
        }
    }

}

.burger
{
    div{
        background-color: #6898ff;
        width: 20px;
        height: 3px;
        margin: 2px 0;
    }
}

.menuHome:hover
{
    background-color: #022779;
}

.menuContent
{
    background-color: $Naranja;
    overflow: hidden;
    position: relative;
}

.itemMenu
{
    margin-top: 0.1em;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0.5em 0;
}

.itemMenu:hover{
    text-decoration: underline;
}

.itemMenuB
{
    height: 80px;
}


.menuListWrapp
{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    text-align: center;
}