<!--<div class="page">
    <main class="content">
        <div class="grid-container">
            <app-header></app-header>
            <div class="BackgroundSeccion" id="fondoHome1" ></div>
            <div class="BackgroundSeccion" id="fondoHome2"></div>
            <div class="BackgroundSeccion" id="fondoHome3"></div>

            <div class="cruzGigante">
                <img src="assets/images/CurzGigante.svg" alt="">
            </div>

            <div class="CrucesRojas1">
                <img src="assets/images/CrucesRojas.svg" alt="">
            </div>
        
            <div class="CrucesRojas2">
                <img src="assets/images/CrucesRojas.svg" alt="">
            </div>
            
            <div class="CrucesBlanco1">
                <img src="assets/images/CrucesBlancas.svg" alt="">
            </div>
            
            <div class="CrucesBlanco2">
                <img src="assets/images/CrucesBlancas.svg" alt="">
            </div>
            
            <div class="CrucesBlanco3">
                <img src="assets/images/CrucesBlancas.svg" alt="">
            </div>

            <section id="RefEconomy">
                <div class="ContenidoSeccion">
                    <div class="recSeccion">
                        <h1>Reframing 
                            Economy</h1>
                        <p>
                            Un trabajo de Wunderman Thompson que busca entender cómo 
                            las emociones de los colombianos cambian sus comportamientos 
                            y afectan la intensión de consumo.
                        </p>
                        <div class="ButtonWrap">
                            <a href="#" class="button">
                                Ir al Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </section>
       
            <section id="QueEs">
                <div class="ContenidoSeccion">
                    <div class="DesSeccionQueEs">
                        <h1>¿Qué es?</h1>
                        <p>
                            Nuestro proyecto busca traquear esas emociones basándonos en el 
                            modelo de Robert Plutchik´s, que trabaja con las 8 emociones 
                            centrales y cómo su combinación lleva a nuevas emociones.
                        </p>
                        <div class="linkWrapper">
                            <a href="#" class="Link">
                                VerTeoria
                            </a>
                        </div>
                    </div>
                    <div class="imgSeccionQueEs">
                        <div class="imgWrapper">
                            <img src="assets/images/FlorEmociones1Izq.svg" alt="">
                        </div>
                        <div class="imgWrapper">
                            <img src="assets/images/FlorEmociones2Der.svg" alt="">
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="Contacto">

            </section>

            <section id="Porque">

            </section>

            <section id="ComoAyuda">

            </section>

            <section id="ComoUsar">

            </section>

            
        <app-footer></app-footer>
        </div>
    </main>
</div> 
-->

<div class="CruzBackground">

    <div class="cruzGigante">
        <img src="assets/images/CurzGigante.svg" alt="">
    </div>

    <div class="ContentSecciones">
        <section id="RefEconomy" class="seccion">
            <div class="ContenidoSeccion">
                <div class="recSeccion">
                    <h1>Reframing 
                        Economy</h1>
                    <p>
                        Un trabajo de Wunderman Thompson que busca entender cómo 
                        las emociones de los colombianos cambian sus comportamientos 
                        y afectan la intensión de consumo.
                    </p>
                    <div class="ButtonWrap">
                        <a href="#" class="button">
                            Ir al Dashboard
                        </a>
                    </div>
                </div>
            </div>
            <div class="CrucesRojas1">
                <img src="assets/images/CrucesRojas.svg" alt="">
            </div>
        </section>
    
        <section id="QueEs" class="seccion">
            <div class="ContenidoSeccion">
                <div class="DesSeccionQueEs">
                    <h1>¿Qué es?</h1>
                    <p>
                        Nuestro proyecto busca traquear esas emociones basándonos en el 
                        modelo de Robert Plutchik´s, que trabaja con las 8 emociones 
                        centrales y cómo su combinación lleva a nuevas emociones.
                    </p>
                    <div class="linkWrapper">
                        <a href="#" class="Link">
                            VerTeoria
                        </a>
                    </div>
                </div>
                <div class="imgSeccionQueEs">
                    <div class="imgWrapper">
                        <img src="assets/images/FlorEmociones1Izq.svg" alt="">
                    </div>
                    <div class="imgWrapper">
                        <img src="assets/images/FlorEmociones2Der.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="CrucesRojas2">
                <img src="assets/images/CrucesRojas.svg" alt="">
            </div>
        </section>

        <section id="Contacto" class="seccion">
            
            <div class="CrucesBlanco1">
                <img src="assets/images/CrucesBlancas.svg" alt="">
            </div>

        </section>

        <section id="Porque" class="seccion">

        </section>

    </div>
   

</div>

