<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reframing Economy</title>
</head>

<body>
    <main class="grid-container">
        
        <section id="RefEconomy" class="seccionA">
            <div class="recSeccion">
                <h1>Reframing 
                    Economy</h1>
                <p>Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian sus comportamientos y afectan la intensión de consumo.
                </p>
                <div class="ButtonWrap">
                    <a href="#" class="button">
                        Ir al Dashboard
                    </a>
                </div>
            </div>
        </section>
        <div class="cruzGigante">
            <img src="assets/CurzGigante.svg" alt="">
        </div>
        <div class="CrucesRojas1">
            <img src="assets/CrucesRojas.svg" alt="">
        </div>
        <section id="QueEs" class="seccionA">

        </section>
        <div class="CrucesRojas2">
            <img src="assets/CrucesRojas.svg" alt="">
        </div>
        <section id="Porque" class="seccionA">

        </section>
        <div class="CrucesBlanco1">
            <img src="assets/CrucesBlancas.svg" alt="">
        </div>
        <section id="ComoAyuda" class="seccionN">

        </section>
        <div class="CrucesBlanco2">
            <img src="assets/CrucesBlancas.svg" alt="">
        </div>
        <section id="ComoUsar" class="seccionA">

        </section>
        <div class="CrucesBlanco3">
            <img src="assets/CrucesBlancas.svg" alt="">
        </div>
        <section id="Contacto" class="seccionA">

        </section>
    </main>
    
</body>
</html>
