@import '../../../../styles.scss';

/*
-------------------------------------
--------------FONDO HOME---------------------
----------------------------------------
*/

.CruzBackground
{
    background-color: $Azul;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr [FC] 1fr;
    z-index: 1;
    height: 300vh;
}

.cruzGigante 
{
    z-index: 2;
    position: relative;
    overflow: hidden;
    grid-row: 1/ span 3;
    grid-column: 1 / span 2;

    img 
    {
        @for $i from 1 through 40 {

            @media screen and (min-width: 50px*$i) and (max-width: 50px*($i + 1)) {
               
                width: (-0.175*((50*$i)-550)) + 400%;
                margin-left: (0.076*((50*$i)-550)) - 100%;
                margin-top: (0.058*((50*$i)-550)) - 130%;
            }

        }
        width: 160%;
        margin-left: 5%;
        margin-top: 50%;
    }

}

.ContentSeccionesCruz
{
    grid-row: 1/ span 3;
    grid-column: 1 / span 3;
    z-index: 3;
}

.seccion
{
    height: 100vh;
   // overflow: hidden;
    display: grid;
    grid-template-columns:  0.5fr [C1] 1fr [C2] 1fr [C3] 1fr [C4] 1fr [C5] 1fr [C6] 1fr [C7] 1fr [C8]  1fr [C9] 0.5fr;
    grid-template-rows:  1fr [S1] 1fr [S2] 1fr [S3] 1fr;
    position: relative;
}

.ContenidoSeccion
{
    grid-row: 1/ span 5;
    grid-column: 1 / span 10;
    position: relative;
}

.BackgroundSA
{
    background-color: $Azul;
}

.BackgroundSN
{
    background-color: $Naranja;
}

@mixin CrucesPequenas
{
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        position: absolute;
    }
}

@mixin transicionAnchura ($scr1, $w1, $scr2, $w2){

    $x1: $scr1; // ej 360px
    $y1: $w1; // ej 100%
    $x2: $scr2; // ej 1920px
    $y2: $w2; // ej 50%

    @for $i from 0 through 40 
    {
        $d0 : 50px*$i;
        $d1 : 50px*($i + 1);
        @media screen and (min-width: $d0) and (max-width: $d1)
        {
            width: EcuacionRecta($x1, $y1, $x2, $y2, $d0);
        }
    }
}*

.CrucesRojas1
{
    grid-row: S3;
    grid-column: C6 / span C8;
    @include CrucesPequenas;
    

    img{
        margin-top: 50px;
        @for $i from 0 through 40 
        {
            $d0 : 50px*$i;
            $d1 : 50px*($i + 1);
            @media screen and (min-width: $d0) and (max-width: $d1)
            {
                width: EcuacionRecta(360px, 100%, 1920px, 50%, $d0);
                margin-top: EcuacionRecta(360px, 100px, 1920px, 50px, $d0);
            }
        }
    }
    
}

.CrucesRojas2
{
    grid-row: S3;
    grid-column: C1 / span C4;
    @include CrucesPequenas;
    img{
        // margin-top: 80%;
        @for $i from 0 through 40 
        {
            $d0 : 50px*$i;
            $d1 : 50px*($i + 1);
            @media screen and (min-width: $d0) and (max-width: $d1)
            {
                width: EcuacionRecta(360px, 80%, 1920px, 50%, $d0);
                margin-top: EcuacionRecta(360px, 100px, 1920px, 50px, $d0);
            }
        }
        
    }

    @media screen and (min-width: 900px){
        grid-column: C2 / span C4;

    }

}

.CrucesBlanco1
{
    grid-row: S3;
    grid-column: C6 / span C9;
    @include CrucesPequenas;
    img{
        margin-top: 10%;

        // margin-top: 80%;
        @for $i from 0 through 40 
        {
            $d0 : 50px*$i;
            $d1 : 50px*($i + 1);
            @media screen and (min-width: $d0) and (max-width: $d1)
            {
                width: EcuacionRecta(360px, 80%, 1920px, 30%, $d0);
                margin-top: EcuacionRecta(360px, 40%, 1920px, -5%, $d0);
            }
        }

    }

    @media screen and (min-width: 900px){
        justify-content: flex-start;
    }

}

.CrucesBlanco2
{

   // @include transicionAnchura (360px, 100px, 1920px, 250px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    z-index: 5;

    img{
        
        @for $i from 0 through 40 
        {
            $d0 : 50px*$i;
            $d1 : 50px*($i + 1);
            @media screen and (min-width: $d0) and (max-width: $d1)
            {
                width: EcuacionRecta(360px, 100%, 1920px, 40%, $d0);
                margin-left: EcuacionRecta(360px, -40%, 1920px, 25%, $d0);
                margin-bottom: EcuacionRecta(360px, -75%, 1920px, -30%, $d0);
                
            }
        }
        
    }

    @media screen and (min-width: 900px){
        left: 50px;
    }

}

.CrucesBlanco3
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    z-index: 5;


    img{
        @for $i from 0 through 40 
        {
            $d0 : 50px*$i;
            $d1 : 50px*($i + 1);
            @media screen and (min-width: $d0) and (max-width: $d1)
            {
                width: EcuacionRecta(360px, 100%, 1920px, 40%, $d0);
               // margin-right: EcuacionRecta(360px, 50%, 1920px, 25%, $d0);
                margin-bottom: EcuacionRecta(360px, -75%, 1920px, -30%, $d0);
                
            }
        }
        
    }


}


@mixin lineaBlanca 
{
    display: block;
    width: 1px;
    background-color: #ffffff85;
    content: "";
}


/*
--------------------------------------------
--------------MENU NAVEGACIÓN---------------------
---------------------------------------------
*/

.menuContent,
.menuHome
{
    color: white;
}

.menuHome
{
    height: 50px;
    background-color: $AzulOscuro;
    cursor: pointer;
}

.menuContent
{
    background-color: $Naranja;
    overflow: hidden;
}


/*
-------------------------------------
--------------SECCIONES---------------------
----------------------------------------
*/

//-----------generales------------------------
.ButtonWrap
{
   padding: 1em 3em;
   display: flex;
   justify-content: center;

    a
    {
        display: block;
        background: #FF760A;
        padding: 0.5em 1.5em;
        color: white;
        text-decoration: none;
        text-align: center;
    }
}

//-----------RefEconomy------------------------

#RefEconomy::before
    {
        grid-row: 1;
        grid-column: C5;
        @include lineaBlanca;
        height: 100%;
    }

    #RefEconomy::after
    {
        grid-row: S3;
        grid-column: C5;
        @include lineaBlanca;
        height: 70%;
        margin-top: 30%;
        position: absolute;
        bottom: 0;
    }
.wrappRefEconomy
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:  0em 3em;
    position: relative;

    .recSeccionRefEconomy
    {
        width: auto;

        @media screen and (min-width: 500px){
            width: 460px;
        }
        
        *{
            text-align: center;
        }

        
        
    }

}
.refEcoSeguir
        {
            grid-column: C1 / span C9;
            grid-row: S3;
            height: auto;
            text-align: center;

            .wrapperAbajoIcono
            {
                width: auto;
                margin-top: 5px;
                img{
                    width: 18px;
                }
            }
        }

//-----------que es----------------------

#QueEs::after
    {
        grid-row: S3;
        grid-column: C5;
        @include lineaBlanca;
        height: 70%;
        position: absolute;
        bottom: -40%;
        @media screen and (min-width: 900px){
            bottom: 0%;
    
        }
    }

.wrappQueEs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.recSeccionQuees
{
    height: 90%;
   position: relative;
   padding: 10%;
   @include transicionAnchura (360px, 80%, 1920px, 60%);
}

.DesSeccionQueEs
{
    margin-right: 20%;
    .linkWrapper a
    {
        color: white;
        font-weight: bold;
    }
    h1{
        margin-top: 0;
    }
}

.imgSeccionQueEs
{
    background-color: $Morado;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  2em 2em;
    margin-left: 30%;
    height: 60%;
    .imgWrapper
    {
        width: auto;
        padding-left: 5%;
        padding-right: 1%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80%;
        }
    }
    
}

@media screen and (min-width: 900px){

    .recSeccionQuees
    {
        height: 70%;
        padding: 0;
    }
    .DesSeccionQueEs
    {
        display: flex;
        justify-content: center;
        align-items: flex-start ;
        flex-direction: column;
        margin-right: 0%;
        position: absolute;
        left:0;
        z-index: 5;
        width: 30%;
        height: 100%;
    }
    .imgSeccionQueEs
    {
        flex-direction: row;
        margin-left: 0%;
        position: absolute;
        right: 0;
        height: 100%;
        width: 70%;
    }
        
}

//-----------por qué----------------------

.imgSeccionPorque
{
    height: 500px;
}


#Porque::after
    {
        grid-row: S3;
        grid-column: C5;
        @include lineaBlanca;
        height: 70%;
        position: absolute;
        bottom: -40%;
        
    }

.wrappPorque{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.recSeccionPorque
{
    height: 90%;
   position: relative;
   padding: 10%;
   @include transicionAnchura (360px, 80%, 1920px, 60%);
}

.DesSeccionPorque
{
    margin-left: 20%;
    *{
        text-align: right;
    }
    h1{
        margin-top: 0;
    }
}

.imgSeccionPorque
{
    background-color: $Morado;
    margin-right: 30%;
    height: 60%;
    overflow: hidden;

    .imgWrapper
    {
        width: auto;
        height: 100%;
        img{
            height: 100%;
            width: auto;
        }
    }
    
}

@media screen and (min-width: 900px){

    .recSeccionPorque
    {
        height: 70%;
        padding: 0;
    }
    .DesSeccionPorque
    {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start ;
        flex-direction: column;
        margin-left: 0%;
        right: 0;
        z-index: 5;
        width: 40%;
        height: 100%;
        h1{
            width: 100%;
        }
    }
    .imgSeccionPorque
    {
        position: absolute;
        flex-direction: row;
        margin-right: 0%;
        left: 0;
        height: 100%;
        width: 70%;
    }
        
}

///---------cómo ayuda---------------

.seccion1
{
    display: grid;
    grid-template-columns:  0.5fr [C1] 1fr [C2] 1fr [C3] 1fr [C4] 1fr [C5] 1fr [C6] 1fr [C7] 1fr [C8]  1fr [C9] 0.5fr;
    grid-template-rows:  1fr [S1] 1fr [S2] 1fr [S3] 1fr;
    position: relative;
    .ContenidoSeccion
    {
        padding: 4em 2em;
    }

    @media screen and (min-width: 900px){
        height: 100vh;

    }

}


#ComoAyuda::after
    {
        grid-row: S3;
        grid-column: C5;
        @include lineaBlanca;
        height: 70%;
        position: absolute;
        bottom: -40%;
        z-index: 3;
    }

.wrappComoAyuda
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .recSeccionComoAyuda
    {
        @include transicionAnchura (360px, 90%, 1920px, 45%);
        
        
        .DesSeccionComoAyuda
        {
            width: 100%;
            text-align: center;
            h1{
                margin: 0;
            }
        }

        .parrafoIcono
            {
                margin-top: 0.8em;
                margin-bottom: 0.8em;
                line-height: 1em;
                font-size: small;
            }

            .imgSeccionComoAyuda
            {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                @media screen and (min-width: 500px){
                    flex-direction: row;
                    flex-wrap: wrap;
                }


                .CardIcono
                {
                    padding: 1.2em;
                    .tituloIcono
                    {
                        padding-top: 0.5em;
                        text-align: center;
                        font-weight: bold;
                    }
                    .parrafoIcono
                    {
                        text-align: center;
                    }
                    .iconWrapper
                    {
                        text-align: center;
                        img{
                            width: 100%;
                            max-width: 120px;

                            @media screen and (min-width: 500px){
                                width: 250px;
                            }
                        }
                    }
                }
            }

    }

}

//--------------------------como usar------------------------------
#ComoUsar
{
    z-index: 1;
}

#ComoUsar::after
    {
        grid-row: S3;
        grid-column: C5;
        @include lineaBlanca;
        height: 70%;
        position: absolute;
        bottom: -40%;
        z-index: 4;
    }
.wrappComoUsar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .recSeccionComoUsar
    {
        @include transicionAnchura (360px, 90%, 1920px, 45%);
        
        
        .DesSeccionComoUsar
        {
            width: 100%;
            text-align: center;
            margin-bottom: 2em;
            h1{
                margin: 0;
            }
        }

        .parrafoIcono
        {
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            line-height: 1em;
            font-size: small;
        }

        .parrFootComoUsar
        {
            font-size: small;
            text-align: center;
            width: 100%;
        }

            .imgSeccionComoUsar
            {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                @media screen and (min-width: 500px){
                    flex-direction: row;
                }
                .CardIcono
                {
                    padding: 1.2em;
                    .tituloIcono
                    {
                        padding-top: 0.5em;
                        text-align: center;
                        font-weight: bold;
                    }
                    .parrafoIcono
                    {
                        text-align: center;
                    }
                    .iconWrapper
                    {
                        text-align: center;
                        img{
                            width: 100%;
                            max-width: 120px;

                            @media screen and (min-width: 500px){
                                width: 250px;
                            }
                        }
                    }
                }
            }
    }

}

//--------------------------contacto------------------------------

.seccion2
{
    position: relative;
    .ContenidoSeccion
    {
        padding-top: 10em; 
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 3em;
    }


}


#Contacto
{
    z-index: 0;
}
.wrappContacto
{
    display: flex;
    justify-content: center;
    align-items: center;

    .recSeccionContacto
    {
        @include transicionAnchura (360px, 90%, 1920px, 45%);
        .DesSeccionContacto
        {
            width: 100%;
            text-align: center;
            h1{
                margin: 0;
            }
        }
        .parrContacto
        {
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            line-height: 1em;
            font-size: small;
        }
    }
}
