<app-header></app-header>
<div class="CruzBackground">

    <div class="cruzGigante">
        <img src="assets/images/CurzGigante.svg" alt="">
    </div>

    <div class="ContentSeccionesCruz">

        <section id="RefEconomy" class="seccion">

            <div class="ContenidoSeccion">
                <div class="wrappRefEconomy">
                    <div class="recSeccionRefEconomy">
                        <h1>Reframing 
                            Economy</h1>
                        <p>
                            Un trabajo de Wunderman Thompson que busca entender cómo 
                            las emociones de los colombianos cambian sus comportamientos 
                            y afectan la intensión de consumo.
                        </p>
                        <div class="ButtonWrap">
                            <a href="#" class="button">
                                Ir al Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="refEcoSeguir">
                <div class="seg">
                    <small>scroll to explore</small>
                </div>
                <div class="wrapperAbajoIcono">
                    <img src="assets/images/AbajoIcono.svg" alt="">
                </div>
            </div>
            <div class="CrucesRojas1">
                <img src="assets/images/CrucesRojas.svg" alt="">
            </div>

        </section>
   
        <section id="QueEs" class="seccion">
           
            <div class="ContenidoSeccion">
                <div class="wrappQueEs">
                    <div class="recSeccionQuees">
                        <div class="DesSeccionQueEs">
                            <h1>¿Qué es?</h1>
                            <p>
                                Nuestro proyecto busca traquear esas emociones basándonos en el 
                                modelo de Robert Plutchik´s, que trabaja con las 8 emociones 
                                centrales y cómo su combinación lleva a nuevas emociones.
                            </p>
                            <div class="linkWrapper">
                                <a href="#" class="Link">
                                    VerTeoria
                                </a>
                            </div>
                        </div>
                        <div class="imgSeccionQueEs">
                            <div class="imgWrapper">
                                <img src="assets/images/FlorEmociones1Izq.svg" alt="">
                            </div>
                            <div class="imgWrapper">
                                <img src="assets/images/FlorEmociones2Der.svg" alt="">
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            
            <div class="CrucesRojas2">
                <img src="assets/images/CrucesRojas.svg" alt="">
            </div>
       
        </section>

        <section id="Porque" class="seccion">
            
            <div class="ContenidoSeccion">
                <div class="wrappPorque">
                    <div class="recSeccionPorque">
                       
                        <div class="DesSeccionPorque">
                            <h1>¿Por qué?</h1>
                            <p>
                                El significado del valor esta cambiando los productos y servicios,
                                basicamente porque ese valor esta siendo dominado por emociones 
                                modificando las prioridades y valoraciones de los colombianos.
                            </p>
                        </div>

                        <div class="imgSeccionPorque">
                            <div class="imgWrapper">
                                <img src="assets/images/FondoColores.PNG" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="CrucesBlanco1">
                <img src="assets/images/CrucesBlancas.svg" alt="">
            </div>
        
        </section>
   
    </div>
</div>


    <section id="ComoAyuda" class="seccion1 BackgroundSN">
    
        <div class="ContenidoSeccion">
            <div class="wrappComoAyuda">
                <div class="recSeccionComoAyuda">
                   
                    <div class="DesSeccionComoAyuda">
                        <h1>¿Cómo esto ayuda a las marcas?</h1>
                        <div class="parrafoIcono">Esta visión nos ayuda a transformar el journey:</div>
                    </div>
    
                    <div class="imgSeccionComoAyuda">
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/OjoIcono.svg" alt="">
                            </div>
                            <div class="tituloIcono">Reconocer</div>
                            <div class="parrafoIcono">Reconocer nuevos desencadenantes</div>
                        </div>
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/CerebroIcono.svg" alt="">
                            </div>
                            <div class="tituloIcono">Repensar</div>
                            <div class="parrafoIcono">Repensar puntos de contacto</div>
                        </div>
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/PreguntasIconos.svg" alt="">
                            </div>
                            <div class="tituloIcono">Reconsiderar</div>
                            <div class="parrafoIcono">Reconsiderar puntos de dolor</div>
                        </div>
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/BalanzaIcono.svg" alt="">
                            </div>
                            <div class="tituloIcono">Reequilibrar</div>
                            <div class="parrafoIcono">Reequilibrar la emoción</div>
                        </div>
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/BombilloIcono.svg" alt="">
                            </div>
                            <div class="tituloIcono">Reimaginar</div>
                            <div class="parrafoIcono">Reimaginar escenarios</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="CrucesBlanco2">
            
            <img src="assets/images/CrucesBlancas.svg" alt="">
        </div>
     
    </section>
    
    <section id="ComoUsar" class="seccion1 BackgroundSA">
    
        <div class="ContenidoSeccion">
            <div class="wrappComoUsar">
                <div class="recSeccionComoUsar">
                   
                    <div class="DesSeccionComoUsar">
                        <h1>¿Cómo usar el dashboard?</h1>
                    </div>
    
                    <div class="imgSeccionComoUsar">
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/DashIcon1.svg" alt="">
                            </div>
                            <div class="parrafoIcono">
                                1. Usa los diferentes selectores y filtros para
                                 ver diferentes resultados y análisis.
                                </div>
                        </div>
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/DashIcon2.svg" alt="">
                            </div>
                            <div class="parrafoIcono">
                                2. Navega entre las distintas pestañas para 
                                encontrar lo que estas buscando.
                            </div>
                        </div>
                        <div class="CardIcono">
                            <div class="iconWrapper">
                                <img src="assets/images/DashIcon3.svg" alt="">
                            </div>
                            <div class="parrafoIcono">
                                3. También puedes escuchar los análisis con los 
                                principales insights, haciendo clic en el 
                                botón de audio.</div>
                        </div>
                       
                    </div>
    
                    <div class="parrFootComoUsar">
                        Ya estas listo para ingresar y visualizar toda la información presentada.
                    </div>
    
                    <div class="ButtonWrap">
                        <a href="#" class="button">
                            Ir al Dashboard
                        </a>
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="CrucesBlanco3">
            <img src="assets/images/CrucesBlancas.svg" alt="">
        </div>
    </section>
  
    <section id="Contacto" class="seccion2 BackgroundSA">
        
        <div class="ContenidoSeccion">
            <div class="wrappContacto">
                <div class="recSeccionContacto">
                   
                    <div class="DesSeccionContacto">
                        <h1>Contacto</h1>
                        <div class="parrContacto">
                            Si tienes alguna duda o inquietud por favor no dudes 
                            en contactarnos al siguiente correo:
                        </div>
                        
                        <div class="ButtonWrap">
                            <a href="#" class="button">
                                data.manager@wundermanthompson.com
                            </a>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    
    </section>

