@import '../../../../styles.scss';

/*
@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100% * 6;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }



}

.page
{
    @include aspect-ratio(2,1);

}

.BackgroundSeccion
{
    grid-column: 1 / span 10;
    z-index: 1;
}

#fondoHome1
{
    background-color: $Azul;
    grid-row: 1 / span S4;
}

#fondoHome2
{
    background-color: $Naranja;
    grid-row: S4 / span S5;
}

#fondoHome3
{
    background-color: $Azul;
    grid-row: S5 / span 7;
}

.grid-container 
{
    display: grid;
    // grid-template-columns: 0.6fr [CGI] 0.7fr 0.1fr 0.7fr 2.2fr 0.9fr 0.8fr 0.4fr;9
   // grid-template-rows: 3fr 0.9fr [S1] 0.8fr 3.3fr 0.6fr [CGF] 0.4fr [S2] 0.8fr 2.9fr 1.2fr [S3] 0.5fr 3.1fr 1fr [S4] 0.8fr 2.7fr 2fr [S5] 0.7fr 1.4fr;
   grid-template-columns:  0.5fr [C1] 1fr [C2] 1fr [C3] 1fr [C4] 1fr [C5] 1fr [C6] 1fr [C7] 1fr [C8] 0.5fr;
   grid-template-rows:  1fr [S1] 1fr [S2] 1fr [S3] 1fr [S4] 1fr [S5] 1fr;
   gap: 1px 1px;
   height: 100%;
   width: 100%;
}

.cruzGigante 
{
    grid-row: 1/ span S3;
    grid-column: C1 / span 9;
    z-index: 2;
    position: relative;
    overflow: hidden;

    img{
        width: 200%;
        margin-top: -60%;
    }

}

@mixin CrucesPequenas
{
    z-index: 4;
    img{
        width: 100%;
    }
}

.CrucesRojas1
{
    grid-row: S1;
    grid-column: C5;
    @include CrucesPequenas;
}

.CrucesRojas2
{
    grid-row: S2;
    grid-column: C2;
    @include CrucesPequenas;
}

.CrucesBlanco1
{
    grid-row: S3;
    grid-column: C5;
    @include CrucesPequenas;
}

.CrucesBlanco2
{
    grid-row: S4;
    grid-column: C1;
    @include CrucesPequenas;
}

.CrucesBlanco3
{
    grid-row: S5;
    grid-column: C6;
    @include CrucesPequenas;
}

///-----------Estructura secciones-------------
@mixin sections
{
    grid-column: 1 / span 10;
    z-index: 3;
}

#RefEconomy
{
    grid-row: 1 / span S1;
    @include sections;
}

#QueEs
{
    grid-row: S1 / span S2;
    @include sections;
}

#Porque
{
    grid-row: S2 / span S3;
    @include sections;
}

#ComoAyuda
{
    grid-row: S3 / span S4;
    @include sections;
}

#ComoUsar
{
    grid-row: S4 / span S5;
    @include sections;
}

#Contacto
{
    grid-row: S5/ span 10;
    @include sections;
}

///----------------------Secciones----------------------

.ContenidoSeccion
{
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.recSeccion
{
    width: 50%;
    *{
        width: 100%;
        text-align: center;
    }
}*/

.CruzBackground
{
    background-color: $Azul;  
    display: grid;
    grid-template-columns: 1fr [IC] 8fr;
    grid-template-rows: 2fr [FC] 1fr;
    z-index: 1;
}

.cruzGigante 
{
    z-index: 2;
    position: relative;
    overflow: hidden;
    grid-row: 1/ span FC;
    grid-column: 1 / span 2;

    img 
    {
       // width: 400%;
       // margin-left: -100%;
       // margin-top: -130%;

        @for $i from 1 through 40 {

            @media screen and (min-width: 50px*$i) and (max-width: 50px*($i + 1)) {
               
                width: (-0.175*((50*$i)-550)) + 400%;
                margin-left: (0.076*((50*$i)-550)) - 100%;
                margin-top: (0.058*((50*$i)-550)) - 130%;
            }

        }
        width: 160%;
        margin-left: 5%;
        margin-top: 50%;
    }
/*
    img{
        width: 400%;
        margin-left: -100%;
        margin-top: -130%;
    }*/
}

.ContentSeccionesCruz
{
    grid-row: 1/ span 3;
    grid-column: 1 / span 3;
    z-index: 3;
}

.seccion
{
    height: 100vh;
   // overflow: hidden;
    display: grid;
    grid-template-columns:  0.5fr [C1] 1fr [C2] 1fr [C3] 1fr [C4] 1fr [C5] 1fr [C6] 1fr [C7] 1fr [C8] 0.5fr;
    grid-template-rows:  1fr [S1] 1fr [S2] 1fr [S3] 1fr;

}

.ContenidoSeccion
{
    grid-row: 1/ span 5;
    grid-column: 1 / span 10;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.BackgroundSA
{
    background-color: $Azul;
}

.BackgroundSN
{
    background-color: $Naranja;
}

.recSeccion
{
    width: 50%;
    *{
        width: 100%;
        text-align: center;
    }
}

@mixin CrucesPequenas
{
    position: relative;
    z-index: 4;
    img{
        width: 100%;
        position: absolute;
    }
}

.CrucesRojas1
{
    grid-row: S3;
    grid-column: C5 / span C8;
    @include CrucesPequenas;
    img{
        margin-top: 50%;
    }
    
}

.CrucesRojas2
{
    grid-row: S3;
    grid-column: C1 / span C3;
    @include CrucesPequenas;
    img{
        margin-top: 80%;
    }
}

.CrucesBlanco1
{
    grid-row: S3;
    grid-column: C5 / span C8;
    @include CrucesPequenas;
    img{
        margin-top: 10%;
    }
}

.CrucesBlanco2
{
    grid-row: S3;
    grid-column: 1 / span C2;
    @include CrucesPequenas;
    img{
        margin-top: 40%;
        margin-left: -40%;
    }
}

.CrucesBlanco3
{
    grid-row: S3;
    grid-column: C7 / span 10;
    @include CrucesPequenas;
    img{
        margin-top: 40%;
        margin-right: -40%;
    }
}

/*
.cruzGigante {

    img 
    {
        @for $i from 1 through 20 {

            @media screen and (min-width: 550px*$i) and (max-width: 50px*($i + 1)) {
                font-size: 5%*$i;
            }

        }
    }
    
}*/

//-----------------------ANCHO MAYOR A 500PX-----------------------------------
@media screen and (min-width: 550px) 
{
    
.cruzGigante 
{
   // grid-column: IC / span 2;
    img{
        // margin-top: -60%;
    }

}

.CrucesRojas1
{
    grid-row: S3;
    grid-column: C6;
    @include CrucesPequenas;
    img{
        margin-top: 50%;
    }
    
}

.CrucesRojas2
{
    grid-row: S3;
    grid-column: C2;
    @include CrucesPequenas;
    img{
        margin-top: 80%;
    }
}

.CrucesBlanco1
{
    grid-row: S3;
    grid-column: C5;
    @include CrucesPequenas;
    img{
        margin-top: 10%;
    }
}

.CrucesBlanco2
{
    grid-row: S3;
    grid-column: C1;
    @include CrucesPequenas;
    img{
        margin-top: 40%;
    }
}

.CrucesBlanco3
{
    grid-row: S3;
    grid-column: C6;
    @include CrucesPequenas;
    img{
        margin-top: 40%;
    }
}

}